*{
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}


.whole{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.progress{
    height: 200px;
    width: 200px;
}

.btn{
    margin-top:50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.btn button{
    background-color: rgb(250, 243, 243);
    display: flex;
    border-radius: 30px;
    border: none;
    padding: 8px 27px ;
    box-shadow: 1px 5px rgba(202,202,202,255);
    color:rgba(108,62,119,255);
    cursor: pointer;
    
    
}

.btn button svg{
    height: 20px;
    width: 10px;
}

.steps{
    display: flex;
    justify-content: center;
}

.step{
    background-color:rgba(240,236,241,255) ;
    height: 200px;
    width: 350px;
    
    border-radius: 20px;
    display: flex;
    margin: 17px;
    
}



.step  b{
    position: absolute;
    margin: 10px;
    
}

.step img{
    margin: 30px 0px;
}

.step h2 {
    margin-top: 80px;
}




